{{> header}}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h2>➡️ Online Check-In</h2>
        </div>
    <div class="card-body">
        <form method="post" action="/check-in">
            <input type="hidden" hidden name="id" value="{{check_id}}"/>
            <div class="form-group">
                <label>Full name</label>
                <input type="text" class="form-control" value="{{user.fullname}}" name="fullname"
                    placeholder="Full name">
            </div>

            <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" value="{{user.address}}" name="address" placeholder="Address">
            </div>

            <div class="form-group">
                <label>Postal code</label>
                <input type="text" class="form-control" value="{{user.postal_code}}" name="postal_code"
                    placeholder="Postal code e.g. 12-345">
            </div>

            <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" value="{{user.city}}" name="city" placeholder="City">
            </div>

            <div class="form-group">
                <label>Phone number</label>
                <input type="text" class="form-control" value="{{user.phone_number}}" name="phone_number"
                    placeholder="Phone number">
            </div>

            <div class="form-group">
                <label>Document type</label>
                <select id="document_type" name="document_type" class="form-control">
                    <option value="0">ID Card</option>
                    <option value="1">Passport</option>
                </select>
            </div>

            <div class="form-group">
                <label>Document number</label>
                <input type="text" class="form-control" value="{{user.document_number}}" name="document_number"
                    placeholder="Document number">
            </div>

            <input type="hidden" name="_csrf" value="{{csrf}}" hidden />
            <button type="submit" class="btn btn-primary col-12 mt-2 mb-5">Check-in</button>
        </form>
    </div>
</div>
</div>



{{> footer}}