{{> header}}
<div class="container-fluid remove-padding">
    <div class="row d-flex justify-content-around hero-container">
        <div class="hero-content align-self-center">
            <img src="img/logo_lot_en.png" alt="LOT_LOGO" class="logo-lot">
                <div class="d-flex justify-content-around mt-2">
                    <h4 class="header-flight-text">Where are you flying to today?</h4>
                </div>
                <div class="d-flex justify-content-around mt-2">
                    <button type="button" class="btn btn-primary">🔎 Search flights</button>
                </div>
        </div>
    </div>

    <div class="row mt-4 recommended-text">
        <h5 class="font-weight-bold">Recommended flights</h5>
    </div>

    <div class="row mt-2">
        {{#each recommendations}}
        <a href="/recommendation/{{this.id}}">
            <div class="col-12 recommended">
                <div class="card mb-2">
                    <img style="width: 100%; display: block;"
                        src={{this.image_url}}
                        alt="Card image">
                    <div class="recomendation">
                        <h6 class="font-weight-bold">🛫 {{this.from}} → {{this.to}}</h6>
                        <p class="remove-padding remove-margin">Prices from {{this.price}} PLN</p>
                    </div>
                </div>
            </div>
        </a>
       {{/each}}



    </div>
</div>
{{> footer}}