{{> header}}

<div class="container-fluid remove-padding">
    <div class="row d-flex justify-content-around hero-container">
        <div class="hero-content align-self-center">
                <div class="d-flex justify-content-around mt-2">
                    <h4 class="header-flight-text font-weight-bold">{{recommendation.from}} → {{recommendation.to}}</h4>
                </div>
                <div class="d-flex justify-content-around m-2">
                    <h6 class="header-flight-text">{{recommendation.start}} → {{recommendation.end}} </h6>
                </div>

        </div>
    </div>

    <div class="row mt-2 recommended-text">
        <h5 class="font-weight-bold">&nbsp;</h5>
    </div>
    <div class="row mt-2 d-flex justify-content-around">
        <div class="align-self-center">
                <div class="d-flex justify-content-around pl-4 pr-4">
                    <button type="button" class="btn btn-primary form-control">Search flights</button>
                </div>
                <div class="d-flex justify-content-around mt-2">
                    <h4 class="header-flight-text text-colored font-weight-bold">Prices from {{recommendation.price}} PLN</h4>
                </div>
                <div class="d-flex justify-content-around m-4">
                    <p class=""> {{recommendation.description}}</p>
                </div>
        </div>
    </div>
</div>

{{> footer}}