{{> header}}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h2>🎫 Your tickets</h2>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <ul class="list-group">
                {{#each tickets}}
                    <li class="list-group-item">
                        <h5>🛫 {{this.from}} → {{this.to}}</h5>
                        <p>{{this.departure_time}} → {{this.arrival_time}}</p>
                        <a href="/check-in/1">
                            {{#if this.flight_status}}
                              <button type="button" class="form-control mt-2 btn btn-success ">Boarding pass</button>
                            {{else}}
                              <button type="button" class="form-control mt-2 btn btn-primary ">Check-in</button>
                            {{/if}}
                        </a>
                        <a href="/check-list/1">
                            <button type="button" class="form-control mt-2 btn btn-outline-primary ">Guide & Check-list</button>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

{{> footer}}